
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

app/db_store/
app/modules/projects
